# Virtual Envs
env
venv/

# Compiled files
**/*.pyc
**/__pycache__/

# database stuff
db.sqlite3

# node stuff
node_modules
node_modules/
build
package-lock.json
.vscode 

# Editors
.idea/
.vscode/

# OS Files
.DS_Store