{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} Cornell MS Eng{% endblock %}

{# comment out for default #}
{% block extrastyle %}
    <style>
        #header {
            background-color: #B31B1B;
        }
        .breadcrumbs {
           background-color: #222222  !important;
           border-bottom: solid 3px #fff;
        }
        #branding h1 {
            color: #fff;
        }
        .module h2, .module caption, .inline-group h2 {
            background: #073949;
            color: #fff;
        }
        a.section:link, a.section:visited, a.section:hover {
            color: #fff;
        }
        input[type=submit] {
            background-color: #B31B1B;
            color: #fff;
        }
        input[type=submit]:hover {
            background-color: #222222;
            color: #fff;
        }
    </style>
{% endblock %}

{% block branding %}
    <h1 id="site-name">Cornell MS Engineering</h1>
{% endblock %}

{% block nav-global %}{% endblock %}